# C extensions
*.so

# Python Stuff
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64
wheelhouse
.python-version
*.py[cod]
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
coverage.xml
nosetests.xml
htmlcov
junit.xml
.cache

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

# IDE's
.idea
*~

# Local DB
*.db
*.sqlite

# junk
*.pid
*.backup
.DS_Store

# Packaging
node_modules
.serverless
